@import "tailwindcss";
@plugin "daisyui"; 


/* Custom CSS */
.no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  
  .no-scrollbar {
    -ms-overflow-style: none;  
    scrollbar-width: none;     
  }
  
